Data import

In [ ]:
import csv    #for the cvs and txv files
import sqlite3 as slq   #for the db file
import pandas as pd    #Help visualize the data

Sample the dataset

In [ ]:
df_1 = pd.read_csv("data/tmdb.movies.csv.gz")
df_1.head()

In [ ]:
df_2 = pd.read_csv("data/tn.movie_budgets.csv.gz")
df_2.head()

https://docs.python.org/3/library/codecs.html#standard-encodings - Helped with finding valid encoding

In [58]:
df_3 = pd.read_csv('data/rt.reviews.tsv.gz',delimiter = '\t', encoding = 'cp437' )
df_3.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [ ]:
df_4 = pd.read_csv('data/rt.movie_info.tsv.gz',delimiter = '\t')
df_4.head()

In [ ]:
df_5 = pd.read_csv('data/bom.movie_gross.csv.gz',delimiter = '\t')
df_5.head()